# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Environment
backend/.env
*.env

# Docker
.docker/

backend/service_account.json

backend/.env